* {
            box-sizing: border-box;
            padding: 0;
            margin: 0px;
            
    
        }
        body {
            
            font-family: Arial;
            color: white;
            background-image: url('img-p/final.jpg');
            background-size: 100%;
                    
        }
        table {
            width: 100%;
        }
        button:hover {
            background-color: #EBC24E;
            cursor: pointer;
        }
.img {
    width: 100%;
    
}

.dropdown {
position: relative;
display: inline-block;
}
/*Superficie del cuadro desplegable*/
.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*Superficie del cuadro desplegable expacio interno*/
.dropdown-content a {
padding: 10px 10px;
display: block;
}
/*Superficie del cuadro desplegable over*/
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;

}

textarea{
min-height: 120px;
max-height: 120px;
max-width: 100%;
min-width: 100%;

}


