body {
    background-color: blue;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:150%;
    color: #FFFFFF;
    
   
}

.texto-introduccion{
    font-style: normal;
    font-weight: normal;
    padding-right: 10px;
    
}
table {
    width: 100%;
    border: none;
  
}

.img {
    width: 100%;
}

.dropdown {
position: relative;
display: inline-block;
}
/*Superficie del cuadro desplegable*/
.dropdown-content {
display: none;
position:absolute ;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*Superficie del cuadro desplegable expacio interno*/
.dropdown-content a {
padding: 100px 100px;
display: block;
}
/*Superficie del cuadro desplegable over*/
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
  
}

