body {
    background-color: blue;
    margin-right: 40px;
    margin-left: 20px;
    margin-top: 20px;
    margin: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:260%;
    color: #FFFFFF;
}
table {
    width: 100%;
    border: none;
  
}

.img {
    width: 100%;
    
}
#contenedor-iconos{
    
   position: relative;
}


.icono
{
    position: absolute;
    top: 83%;
    width: 24px;
}

.dropdown {
position: relative;
display: inline-block;
}
/*Superficie del cuadro desplegable*/
.dropdown-content {
display: none;
position: absolute;
min-width: 100px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*Superficie del cuadro desplegable expacio interno*/
.dropdown-content a {
padding: 10px 10px;
display: block;
}
/*Superficie del cuadro desplegable over*/
.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
display: block;
  z-index: 1
}



.canvas-1
{
    position: absolute;
    top: 10%;
 
}
#canvas {
    left: 81%;
    
    
}
